<section class="tab standard-form{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
    {{#each configurationCategories as |category|}}
        <fieldset data-section="config-{{category.id}}" data-tooltip="{{localize category.tooltip}}">
            <legend>{{category.label}}</legend>
            {{#each category.options as |option|}}
                {{> "modules/cat/templates/medkit/shared/option-field.hbs" option}}
            {{/each}}
        </fieldset>
    {{/each}}
</section>
