<section class="tab standard-form{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
    <p class="hint">{{localize docPropHint}}</p>

    {{#if alternateAttributes.length}}
        {{#each alternateAttributes as |a|}}
        <fieldset data-section="{{a.type}}">
            <legend>{{label}}</legend>
            {{#if attributes.length}}
                <ul class="cat-medkit-embedded-list">
                    {{#each attributes}}
                        <li>
                            <span class="cat-medkit-embedded-name">{{valueSummary}}</span>
                            <span class="cat-medkit-embedded-meta">{{restrictionSummary}}</span>
                            <button type="button" data-action="editDocProp" data-prop="{{a.type}}" data-index="{{index}}" data-tooltip="{{localize 'CAT.MEDKIT.Embedded.Edit'}}">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </button>
                            <button type="button" data-action="removeDocProp" data-prop="{{a.type}}" data-index="{{index}}" data-tooltip="{{localize 'Remove'}}">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </li>
                    {{/each}}
                </ul>
            {{else}}
                <p class="hint">{{localize "CAT.MEDKIT.DocProps.Empty"}}</p>
            {{/if}}
            <button type="button" data-action="addDocProp" data-prop="{{a.type}}">
                <i class="fa-solid fa-plus"></i>
                {{localize "CAT.MEDKIT.DocProps.Add"}}
            </button>
        </fieldset>
        {{/each}}
    {{/if}}
</section>
