<section class="tab{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
    {{formGroup fields.identifier disabled=true value=document.identifier dataset=(object tooltip="CAT.MEDKIT.IdentifierTooltip")}}
    {{formGroup fields.source name="selectedSource" disabled=disableSources choices=availableSources value=source dataset=(ifThen disableSources (object tooltip="CAT.MEDKIT.NoSourcesTooltip"))}}
    {{#if version}}
        {{formGroup fields.version disabled=true value=version}}
    {{/if}}
    {{#if notes}}
        {{formGroup fields.notes disabled=true value=notes elementType="textarea"}}
    {{/if}}
    {{formGroup fields.ignore name="flags.cat.ignoreItem" value=ignoreItem}}
</section>