<section class="tab standard-form{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
    <fieldset data-section="mass-apply">
        <legend>{{localize "CAT.MEDKIT.MassApply.Label"}}</legend>
        <button type="button" data-action="massApply" data-tooltip="{{localize 'CAT.MEDKIT.MassApply.Tooltip'}}">
            <i class="fa-solid fa-download"></i>
            {{localize "CAT.MEDKIT.MassApply.Button"}}
        </button>
    </fieldset>
</section>
