{{#if field}}
    {{formGroup field name=name value=value hint=i18nOption dataset=(ifThen tooltip (object tooltip=tooltip))}}
{{else if isCombobox}}
    <div class="form-group">
        <label for="cat-medkit-opt-{{key}}"{{#if tooltip}} data-tooltip="{{tooltip}}"{{/if}}>{{label}}</label>
        <div class="form-fields">
            <cat-combobox input-id="cat-medkit-opt-{{key}}" name="{{name}}" value="{{value}}">
                {{#if allowBlank}}<option value=""></option>{{/if}}
                {{#each choices}}
                    <option value="{{value}}" data-image="{{image}}">{{label}}</option>
                {{/each}}
            </cat-combobox>
        </div>
    </div>
{{else if isMultiCombobox}}
    <div class="form-group">
        <label for="cat-medkit-opt-{{key}}"{{#if tooltip}} data-tooltip="{{tooltip}}"{{/if}}>{{label}}</label>
        <div class="form-fields">
            <cat-multi-combobox input-id="cat-medkit-opt-{{key}}" name="{{name}}">
                {{#each choices}}
                    <option value="{{value}}" data-image="{{image}}" data-tag="{{tag}}"{{#if selected}} selected{{/if}}>{{label}}</option>
                {{/each}}
            </cat-multi-combobox>
        </div>
    </div>
{{else if isSequencerFile}}
    <div class="form-group">
        <label for="cat-medkit-opt-{{key}}"{{#if tooltip}} data-tooltip="{{tooltip}}"{{/if}}>{{label}}</label>
        <div class="form-fields">
            <file-picker input-id="cat-medkit-opt-{{key}}" name="{{name}}" type="{{fileType}}" value="{{value}}"></file-picker>
            <button type="button" class="cat-sequencer-db" data-action="openSequencerDb" data-tooltip="{{localize 'CAT.MEDKIT.Sequencer.Browse'}}">
                <i class="fa-solid fa-photo-film"></i>
            </button>
        </div>
    </div>
{{else if isAnimationSelect}}
    <div class="form-group">
        <label for="cat-medkit-opt-{{key}}"{{#if tooltip}} data-tooltip="{{tooltip}}"{{/if}}>{{label}}</label>
        <div class="form-fields">
            <cat-combobox data-animation-select input-id="cat-medkit-opt-{{key}}" name="{{name}}" value="{{value}}">
                <option value=""></option>
                {{#each choices}}
                    <option value="{{value}}" data-image="{{image}}">{{label}}</option>
                {{/each}}
            </cat-combobox>
        </div>
    </div>
    {{#if animationOptions.length}}
        <fieldset class="cat-generic-animation-options" data-section="animation-suboptions">
            {{#each animationOptions}}
                {{> "modules/cat/templates/medkit/shared/option-field.hbs" this}}
            {{/each}}
        </fieldset>
    {{/if}}
{{else if isSummonSelect}}
    <fieldset class="cat-generic-summon-options" data-section="summon-fields">
        <legend>{{label}}</legend>
        {{#each summonFields}}
            {{> "modules/cat/templates/medkit/shared/option-field.hbs" this}}
        {{/each}}
    </fieldset>
{{else if isList}}
    <div class="form-group cat-medkit-documents" data-flag-path="{{configPath}}" data-validate="{{validate}}">
        <label for="cat-medkit-opt-{{key}}"{{#if tooltip}} data-tooltip="{{tooltip}}"{{/if}}>{{label}}</label>
        <div class="form-fields">
            <input id="cat-medkit-opt-{{key}}" type="text" placeholder="{{localize placeholder}}">
            <button type="button" data-action="addListEntry" data-tooltip="{{localize addTooltip}}">
                <i class="fa-solid fa-plus"></i>
            </button>
        </div>
    </div>
    {{#if entries.length}}
        <ul class="cat-medkit-document-list" data-flag-path="{{configPath}}">
            {{#each entries}}
                <li>
                    {{#if img}}<img src="{{img}}">{{/if}}
                    <span>{{label}}</span>
                    <button type="button" data-action="removeListEntry" data-value="{{value}}" data-tooltip="{{localize 'Remove'}}">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </li>
            {{/each}}
        </ul>
    {{/if}}
{{/if}}
