<section class="tab standard-form{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
    <fieldset data-section="macro-picker">
        <legend>{{localize "CAT.MEDKIT.Macros.Picker.Label"}}</legend>
        {{#if macroChoices.length}}
            <div class="form-group cat-multi-combobox-group">
                <label for="cat-medkit-macros">{{localize "CAT.MEDKIT.Macros.Picker.Field"}}</label>
                <cat-multi-combobox input-id="cat-medkit-macros" name="flags.cat.macros">
                    {{#each macroChoices}}
                        <option value="{{value}}"{{#if selected}} selected{{/if}}>{{label}}</option>
                    {{/each}}
                </cat-multi-combobox>
            </div>
            <p class="hint">{{localize "CAT.MEDKIT.Macros.Picker.Hint"}}</p>
        {{else}}
            <p class="hint">{{localize "CAT.MEDKIT.Macros.None"}}</p>
        {{/if}}
    </fieldset>
</section>
