<div class="cat-dialog-shell">
<header class="cat-dialog-header">
    <span class="cat-dialog-title">{{localize title}}</span>
    <button type="button" class="cat-dialog-detach" data-action="toggleDetach" data-tooltip="{{#if detached}}{{localize 'APPLICATION.ACTIONS.Attach'}}{{else}}{{localize 'APPLICATION.ACTIONS.Detach'}}{{/if}}" aria-label="{{#if detached}}{{localize 'APPLICATION.ACTIONS.Attach'}}{{else}}{{localize 'APPLICATION.ACTIONS.Detach'}}{{/if}}">
        <i class="fas {{#if detached}}fa-arrow-down-to-square{{else}}fa-arrow-up-right-from-square{{/if}}" aria-hidden="true"></i>
    </button>
    <button type="button" class="cat-dialog-close" data-action="close" data-tooltip="{{localize 'Close'}}" aria-label="{{localize 'Close'}}">
        <i class="fas fa-xmark" aria-hidden="true"></i>
    </button>
</header>
<div id="dialog-app" class="cat-dialog-body standard-form scrollable">
    {{#if content}}<div class="cat-dialog-content">{{{localize content}}}</div>{{/if}}
    {{#each inputs}}
        {{#if useHelper}}
            {{#each options}}
                {{formGroup field name=name value=value}}
            {{/each}}
        {{else if isButton}}
            <div class="cat-body-buttons {{#if displayAsRows}}cat-stacked{{/if}}">
                {{#each options}}
                    <button type="submit" class="cat-body-button" data-action="confirm" id="i{{@../index}}j{{@index}}" name="{{name}}"{{#if tooltip}} data-tooltip="{{tooltip}}"{{/if}}{{#if reference}} data-reference-tooltip="{{reference}}"{{/if}}>
                        {{#if image}}<img class="button-image{{#if imageClass}} {{imageClass}}{{/if}}" src="{{image}}">{{/if}}
                        <span>{{localize label}}</span>
                    </button>
                {{/each}}
            </div>
        {{else if isCheckbox}}
            {{#if showCounter}}
                <div class="cat-budget-counter{{#if (gte currentNum totalMax)}} at-max{{/if}}">{{currentNum}}/{{totalMax}}</div>
            {{/if}}
            {{#each options}}
                <div class="form-group">
                    <label for="i{{@../index}}j{{@index}}">
                        {{#if image}}<img class="label-image" src="{{image}}" data-token-id="{{name}}">{{/if}}
                        {{{localize label}}}
                    </label>
                    <div class="form-fields">
                        <input type="checkbox" {{#if (gte ../currentNum ../totalMax)}}{{#unless isChecked}}disabled{{/unless}}{{/if}} id="i{{@../index}}j{{@index}}" name="{{name}}" {{#if isChecked}}checked{{/if}}>
                    </div>
                </div>
            {{/each}}
        {{else if isRadio}}
            <div class="form-group">
                <div class="form-fields">
                    {{#each options}}
                        <input type="radio" id="i{{@../index}}j{{@index}}" name="{{../radioName}}" value="{{name}}" {{#if isChecked}}checked{{/if}}>
                        <label for="i{{@../index}}j{{@index}}">
                            {{#if image}}<img class="label-image" src="{{image}}" data-token-id="{{name}}">{{/if}}
                            {{localize label}}
                        </label>
                    {{/each}}
                </div>
            </div>
        {{else if isSelectAmount}}
            {{#if totalMax}}
                <div class="cat-budget-counter{{#if atMax}} at-max{{/if}}">{{currentSpent}}/{{totalMax}}</div>
            {{/if}}
            {{#each options}}
                <div class="form-group">
                    <label for="i{{@../index}}j{{@index}}">
                        {{#if image}}<img class="label-image" src="{{image}}" data-token-id="{{name}}">{{/if}}
                        {{{localize label}}}
                    </label>
                    <div class="form-fields">
                        <select id="i{{@../index}}j{{@index}}" name="{{name}}">
                            {{#each options}}
                                <option value="{{this}}" {{#if (gt this ../currentMaxAmount)}}disabled{{/if}} {{#if (eq this ../currentAmount)}}selected{{/if}}>{{this}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
            {{/each}}
        {{else if isDice}}
            {{#if showCounter}}
                <div class="cat-budget-counter">{{currentNum}}/{{totalMax}}</div>
            {{/if}}
            <div class="cat-dice-picker" data-total-max="{{totalMax}}">
                {{#each groups}}
                    <div class="cat-dice-group">
                        <header class="cat-dice-group-header">
                            {{#if icon}}<img class="cat-dmg-icon" src="{{icon}}">{{/if}}
                            {{#if label}}<span class="cat-dice-type-label">{{label}}</span>{{/if}}
                            <strong class="cat-dice-subtotal">{{total}}</strong>
                        </header>
                        <ol class="dice-rolls">
                            {{#each dice}}
                                <li class="cat-die-cell">
                                    <input type="checkbox" hidden id="d-{{name}}" name="{{name}}">
                                    <label for="d-{{name}}" class="roll d{{faces}}{{#unless isStandard}} cat-die-generic{{/unless}}{{#if isMin}} min{{/if}}{{#if isMax}} max{{/if}}" data-tooltip="d{{faces}}">{{result}}</label>
                                </li>
                            {{/each}}
                        </ol>
                    </div>
                {{/each}}
                {{#if grandTotal}}
                    <div class="cat-dice-grand-total"><span>{{localize 'CAT.Dialog.Total'}}</span><strong>{{grandTotal}}</strong></div>
                {{/if}}
            </div>
        {{else if isCombobox}}
            {{#each options}}
                <div class="form-group{{#unless label}} cat-no-label{{/unless}}">
                    {{#if label}}<label for="i{{@../index}}j{{@index}}">{{{localize label}}}</label>{{/if}}
                    <div class="form-fields">
                        <cat-combobox input-id="i{{@../index}}j{{@index}}" name="{{name}}" value="{{value}}"{{#if placeholder}} placeholder="{{placeholder}}"{{/if}}>
                            {{#each options}}
                                <option value="{{value}}" data-image="{{image}}"{{#if tag}} data-tag="{{tag}}"{{/if}}>{{label}}</option>
                            {{/each}}
                        </cat-combobox>
                    </div>
                </div>
            {{/each}}
        {{else if isComboboxMulti}}
            {{#each options}}
                <div class="form-group cat-multi-combobox-group{{#unless label}} cat-no-label{{/unless}}">
                    {{#if label}}<label for="i{{@../index}}j{{@index}}">{{{localize label}}}</label>{{/if}}
                    <cat-multi-combobox input-id="i{{@../index}}j{{@index}}" name="{{name}}"{{#if amounts}} amounts{{/if}}{{#if maxTotal}} max-total="{{maxTotal}}"{{/if}}{{#if placeholder}} placeholder="{{placeholder}}"{{/if}}>{{#each options}}<option value="{{value}}" data-image="{{image}}" data-weight="{{weight}}"{{#if max}} data-max="{{max}}"{{/if}}{{#if tag}} data-tag="{{tag}}"{{/if}}>{{label}}</option>{{/each}}</cat-multi-combobox>
                </div>
            {{/each}}
        {{/if}}
    {{/each}}
</div>
{{#if buttons.length}}
<footer class="cat-dialog-footer">
    {{#each buttons}}
        <button type="submit" data-action="confirm" name="{{name}}">{{localize label}}</button>
    {{/each}}
</footer>
{{/if}}
</div>
