<div class="cat-embedded-macros-shell">
    <header class="cat-embedded-macros-header">
        <span class="cat-embedded-macros-title">{{title}}</span>
        <button type="button" class="cat-app-header-button cat-medkit-header-button" data-action="close" data-tooltip="{{localize 'Close'}}" aria-label="{{localize 'Close'}}">
            <i class="fas fa-xmark" aria-hidden="true"></i>
        </button>
    </header>

    <div class="cat-embedded-macros-body">
        <div class="standard-form">
            {{#if valueChoices}}
                <div class="form-group">
                    <label for="cat-docprop-value">{{localize valueLabel}}</label>
                    <div class="form-fields">
                        <cat-multi-combobox input-id="cat-docprop-value" name="value">
                            {{#each valueChoices}}
                                <option value="{{value}}"{{#if selected}} selected{{/if}}>{{label}}</option>
                            {{/each}}
                        </cat-multi-combobox>
                    </div>
                    <p class="hint">{{localize valueHint}}</p>
                </div>
            {{else}}
                {{formGroup valueField value=value}}
            {{/if}}
            <fieldset>
                <legend>{{localize "CAT.MEDKIT.DocProps.Restrictions.Legend"}}</legend>
                <p>{{localize "CAT.MEDKIT.DocProps.Restrictions.Hint"}}</p>
                {{#each restrictions as |r|}}
                    {{#if r.options}}
                        <div class="form-group">
                            <label for="cat-docprop-{{r.key}}">{{localize r.label}}</label>
                            <div class="form-fields">
                                <cat-multi-combobox input-id="cat-docprop-{{r.key}}" name="{{r.key}}">
                                    {{#each r.options}}
                                        <option value="{{value}}"{{#if selected}} selected{{/if}}>{{label}}</option>
                                    {{/each}}
                                </cat-multi-combobox>
                            </div>
                            {{#if r.hasRequireAll}}
                                <label class="checkbox cat-docprop-requireall">
                                    <input type="checkbox" name="requireAll.{{r.key}}" {{#if r.requireAll}}checked{{/if}}>
                                    {{localize "CAT.MEDKIT.DocProps.Restrictions.RequireAll"}}
                                </label>
                            {{/if}}
                        </div>
                        <p class="hint">{{localize r.hint}}</p>
                    {{else}}
                        {{formGroup r.field value=r.value}}
                    {{/if}}
                {{/each}}
            </fieldset>
        </div>
    </div>

    <footer class="cat-embedded-macros-footer">
        <button type="button" data-action="close" data-tooltip="{{localize 'CAT.MEDKIT.Footer.CancelTooltip'}}">
            <i class="fa-solid fa-xmark"></i>
            {{localize "CAT.MEDKIT.Footer.Cancel"}}
        </button>
        <button type="submit">
            <i class="fa-solid fa-check"></i>
            {{localize "DND5E.Confirm"}}
        </button>
    </footer>
</div>
