<div class="cat-embedded-macros-shell">
    <header class="cat-embedded-macros-header">
        <span class="cat-embedded-macros-title">{{title}}</span>
        <button type="button" class="cat-app-header-button cat-medkit-header-button" data-action="close" data-tooltip="{{localize 'Close'}}" aria-label="{{localize 'Close'}}">
            <i class="fas fa-xmark" aria-hidden="true"></i>
        </button>
    </header>

    <div class="cat-embedded-macros-body">
        <div class="standard-form">
            {{#if (eq type "rollModifiers")}}
                <div class="form-group">
                    <label>{{localize "CAT.MEDKIT.DocProps.rollModifiers.Modifiers"}}</label>
                    <div class="form-fields">
                        <input type="text" name="modifiers" value="{{modifiers}}">
                    </div>
                    <p class="hint">{{localize "CAT.MEDKIT.DocProps.rollModifiers.ModifiersHint"}}</p>
                </div>

                <fieldset>
                    <legend>{{localize "CAT.MEDKIT.DocProps.Restrictions.Legend"}}</legend>
                    <p class="hint">{{localize "CAT.MEDKIT.DocProps.Restrictions.Hint"}}</p>
                    {{#each choiceRestrictions as |r|}}
                        <div class="form-group">
                            <label for="cat-docprop-{{r.key}}">{{r.label}}</label>
                            <div class="form-fields">
                                <cat-multi-combobox input-id="cat-docprop-{{r.key}}" name="{{r.key}}">
                                    {{#each r.options}}
                                        <option value="{{value}}"{{#if selected}} selected{{/if}}>{{label}}</option>
                                    {{/each}}
                                </cat-multi-combobox>
                            </div>
                            {{#if r.hasRequireAll}}
                                <label class="checkbox cat-docprop-requireall">
                                    <input type="checkbox" name="requireAll.{{r.key}}" {{#if r.requireAll}}checked{{/if}}>
                                    {{localize "CAT.MEDKIT.DocProps.Restrictions.RequireAll"}}
                                </label>
                            {{/if}}
                        </div>
                    {{/each}}
                    {{#each freeformRestrictions as |r|}}
                        <div class="form-group">
                            <label>{{r.label}}</label>
                            <div class="form-fields">
                                <input type="text" name="{{r.key}}" value="{{r.value}}">
                            </div>
                        </div>
                    {{/each}}
                </fieldset>
            {{else if (eq type "alternateFormula")}}
                {{formGroup formulaField value=formula name="value" hint=(localize "CAT.MEDKIT.DocProps.alternateFormula.Hint")}}
                <div class="form-group">
                    <label>{{localize "CAT.MEDKIT.DocProps.alternateFormula.Identifiers"}}</label>
                    <div class="form-fields">
                        <input type="text" name="identifiers" value="{{identifiers}}">
                    </div>
                    <p class="hint">{{localize "CAT.MEDKIT.DocProps.alternateFormula.IdentifiersHint"}}</p>
                </div>
            {{else}}
                {{formGroup identifierField value=identifier name="identifier" hint=(localize "CAT.MEDKIT.DocProps.IdentifierHint")}}
                <div class="form-group">
                    <label for="cat-docprop-abilities">{{localize "CAT.MEDKIT.DocProps.alternateAbilities.Field"}}</label>
                    <div class="form-fields">
                        <cat-multi-combobox input-id="cat-docprop-abilities" name="value">
                            {{#each abilityOptions}}
                                <option value="{{value}}"{{#if selected}} selected{{/if}}>{{label}}</option>
                            {{/each}}
                        </cat-multi-combobox>
                    </div>
                </div>
            {{/if}}
        </div>
    </div>

    <footer class="cat-embedded-macros-footer">
        <button type="button" data-action="close" data-tooltip="{{localize 'CAT.MEDKIT.Footer.CancelTooltip'}}">
            <i class="fa-solid fa-xmark"></i>
            {{localize "CAT.MEDKIT.Footer.Cancel"}}
        </button>
        <button type="submit">
            <i class="fa-solid fa-check"></i>
            {{localize "DND5E.Confirm"}}
        </button>
    </footer>
</div>
