<div class="cat-dialog-shell">
<header class="cat-dialog-header">
    <span class="cat-dialog-title">{{localize title}}</span>
    <button type="button" class="cat-dialog-detach" data-action="toggleDetach" data-tooltip="{{#if detached}}{{localize 'APPLICATION.ACTIONS.Attach'}}{{else}}{{localize 'APPLICATION.ACTIONS.Detach'}}{{/if}}" aria-label="{{#if detached}}{{localize 'APPLICATION.ACTIONS.Attach'}}{{else}}{{localize 'APPLICATION.ACTIONS.Detach'}}{{/if}}">
        <i class="fas {{#if detached}}fa-arrow-down-to-square{{else}}fa-arrow-up-right-from-square{{/if}}" aria-hidden="true"></i>
    </button>
    <button type="button" class="cat-dialog-close" data-action="close" data-tooltip="{{localize 'Close'}}" aria-label="{{localize 'Close'}}">
        <i class="fas fa-xmark" aria-hidden="true"></i>
    </button>
</header>
<div id="dialog-app" class="cat-dialog-body standard-form scrollable">
    {{#each inputs}}
        {{#if useHelper}}
            {{#each options}}
                {{formGroup field name=name value=value}}
            {{/each}}
        {{/if}}
    {{/each}}
</div>
{{#if buttons.length}}
<footer class="cat-dialog-footer">
    {{#each buttons}}
        <button type="submit" data-action="confirm" name="{{name}}">{{localize label}}</button>
    {{/each}}
</footer>
{{/if}}
</div>
